* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--off-white);
}

:root {
  --main: #5063f0;
  --black: #051923;
  --grey: #d1d1d1;
  --off-white: #f0f8ff;
  --hover: #2b41ec;
  --pink: #ff5376;
  --pink-hover: #f0386b;
}
